.containers {
    background-color: #fff;
    padding: 20px 40px;
    color: #000;
    font-weight: 200;
    border-radius: 15px;
    width:30%;
    height:700px;
    margin-left: 35%;

}

.sign-in{
    margin-bottom: 30%;
    height: 30%;
}

.title{
    text-align:center;
}
